
body {
	margin: 0;
	padding: 0;
    min-height: 100%;
}

.grid-item,
header,
footer {
    padding: 20px;
    background-color: #000;
}

header {
	color: #fff;
  
}

footer {
    color: #ffffff;
    height: 150px;
    width: 100%;
    position: static;
    bottom: 0;
}
.left, .center, .right {
    margin-top: 30px;
}
.grid-container {
    display: grid;
    grid-template-areas:
		'navi navi navi'
		'left left left'
        'center center center'
        'right right right';
    padding: 10px;
    grid-gap: 10px 15px;
}

.navi { grid-area: navi; }
.left { grid-area: left;}
.right { grid-area: right;}
.center { grid-area: center; }

@media (min-width: 768px) {
	.grid-container {
	    grid-template-areas:
		'navi navi navi'
		'left center right'
        'left center right'
        'left center right';
	}
}

@media (min-width: 1199px) {
	.grid-container {
	    grid-template-areas:
		'navi navi navi'
		'left center right'
        'left center right'
        'left center right';
	}
}