
body {
	margin: 0;
	padding: 0;
    min-height: 100%;
}

.grid-item,
header,
footer {
    padding: 20px;
    background-color: #000;
}

header {
	color: #fff;
  
}

footer {
    color: #ffffff;
    height: 150px;
    width: 100%;
    position: static;
    bottom: 0;
}
main{ margin-top: 30px;}
.grid-container {
    display: grid;
    grid-template-areas:
		'navi navi navi navi'
		'main main main main'
        'main main main main'
        'main main main main';
    padding: 10px;
    grid-gap: 10px 15px;
}

.navi { grid-area: navi; }
.main { grid-area: main; }


@media (min-width: 768px) {
	.grid-container {
	    grid-template-areas:
			'navi navi navi navi'
		'main main main main'
        'main main main main'
        'main main main main';
	}
}

@media (min-width: 1199px) {
	.grid-container {
	    grid-template-areas:
			navi navi navi navi'
		'main main main main'
        'main main main main'
        'main main main main';
	}
}