* {
    box-sizing: border-box;
}

body {
}

header img {
    max-height: 100px;
    width: auto;
}

footer {
    clear: both;
    line-height: 18px;
    bottom: 0;
    position: relative;
    font-size: 0.8em;
}

.footer-left, .footer-center, .footer-right {
    display: inline-block;
    vertical-align: top;
}

.footer-left {
    width: 35%;
}

.footer-center {
    width: 40%;
}

.footer-right {
    width: 20%;
}

.footer-center li {
    list-style: none;
}

.footer-right a {
    /*list-style: none;*/
    /*text-decoration: none;*/
}

.foot {
    clear: both;
    float: left;
    text-shadow: none;
    line-height: 20px;
    margin: 0 auto !important;
    color: #626262;
    font-size: 0.8em;
}
/*#region Navigation */

/*Hamburger Button Navigation*/
.hamburger {
    display: flex;
    align-items: center;
}

.NavButton {
    width: 3rem;
    background: transparent;
    border: none;
    cursor: pointer;
    padding-top: 0;
    padding-bottom: 0;
}

    .NavButton:focus {
        outline: none;
    }


/*Desktop Navigation*/


.desktop_navigation {
    display: flex;
    justify-content: center;
}

    .desktop_navigation a {
        text-decoration: none;
        color: #006262;
    }

    .desktop_navigation div {
        padding-left: 20px;
        display: none;
    }

/*Mobile Navigation*/
.mobile {
    position: fixed;
    top: 0;
    background: rgba(90, 90, 90, 0.9);
    width: 80vw;
    height: 100vh;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transform: translateX(-100vw);
    transition: transform 500ms ease-out;
    z-index: 2;
}

.mobileNav_items {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 2rem;
}

    .mobileNav_items li a {
        text-decoration: none;
        color: white;
    }

.open {
    display: flex;
    transform: translateX(0);
}
/*Hide button*/
@media (min-width: 650px) {

    .NavButton {
        display: none;
    }

    .desktop_navigation div {
        display: block;
    }
}

/*#endregion */

/*#region Kontakt */



/* Style inputs med type="text", vælg element og tekstområder */
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px; /* Rund borders */
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical /* Tillader bruger at vertikal at ændre teksområde (ikke horisonten)the textarea */
}

/* Style send knappen med en bestemt baggrunds farve ect */
input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

    /* Når man føre musen over send kanppen, tilføj en mørk grøn farve */
    input[type=submit]:hover {
        background-color: #45a049;
    }

/* Tilføj bagrundsfarve og noget padding omkring formen */
.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    margin: 0 auto;
    width: 500px;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}
/*#endregion */

/*#region Galleri */

.gallery ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 10px;
    padding: 0 10px;
    text-align: center;
}

.gallery li {
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    font-size: 14px;
    list-style: none;
}

.info {
    text-align: center;
    font-size: 30px;
    padding-top: 20px;
    color: #fff;
}

.responsive {
    width: 100%;
    max-width: 200px;
    height: 100%;
    max-height: 200px;
}

/*#endregion */

/*#region Modal */


.modal {
    display: none;
    position: fixed;
    z-index: 8888; /* On top */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* Enable scroll  */
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 10vh auto; /* 15% from the top and center */
    padding: 20px;
    border: 1px solid #888;
    width: 90%;
}

@media (min-width: 1366px) {
    .modal-content {
        background-color: #fefefe;
        margin: 10vh auto; /* 15% from the top and center*/
        padding: 20px;
        border: 1px solid #888;
        width: 30%;
    }
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }

button.button {
    background: none;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: #C8C4BB 1px solid;
    padding: 0 0 3px 0;
    font-size: 16px;
}

    button.button:hover {
        border-bottom: #FFFFFF 1px solid;
        color: #a99567;
    }

.modals {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    margin: 10px;
    width: 75%;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}
/*#endregion */

/*#region Mikkel forside carousel */

/*#Mikkel forside start  */

.galleryContainer{
    width: 100%;
    height: 500px;
    max-width: 1000px;
    margin: auto;
    user-select: none;
    box-shadow: 0px 0px 3px 1px #000078;
    padding: 10px;
    box-sizing: border-box;
}
.galleryContainer .slideShowContainer{
    width: 100%;
    height: 90%;
    overflow: hidden;
    background-color: gainsboro;
    position: relative;
}
.galleryContainer .slideShowContainer #playPause{
    width: 32px;
    height: 32px;
    position: absolute;
    background-image: url("file:///C:/Mikkel%20git-clones/git-clones/LBSkilte-2/img/playPause.png");
    background-repeat: no-repeat;
    z-index: 5;
    background-size: cover;
    margin: 5px;
    cursor: pointer;
}
.galleryContainer .slideShowContainer #playPause:hover{
    opacity: .7;
}
.galleryContainer .slideShowContainer .imageHolder{
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
}
.galleryContainer .slideShowContainer .imageHolder img{
    width: 100%;
    height: 100%;
}
.galleryContainer .slideShowContainer .imageHolder .captionText{
    display: none;
}

.galleryContainer .slideShowContainer .leftArrow,.galleryContainer .slideShowContainer .rightArrow{
    width: 50px;
    background: #000036;
    position: absolute;
    left: 0;
    z-index: 1;
    transition: background 0.5s;
    height: 72px;
    top: 50%;
    transform: translateY(-50%);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.galleryContainer .slideShowContainer .rightArrow{
    left: auto;
    right: 0;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.galleryContainer .slideShowContainer .leftArrow:hover,.galleryContainer .slideShowContainer .rightArrow:hover{
    background: #0000a8;
    cursor: pointer;
}
.galleryContainer .arrow{
    display: inline-block;
    border: 3px solid white;
    width: 10px;
    height: 10px;
    border-left: none;
    border-bottom: none;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
.galleryContainer .arrow.arrowLeft{
    transform: rotateZ(-135deg);
}
.galleryContainer .arrow.arrowRight{
    transform: rotateZ(45deg);
}


.galleryContainer .slideShowContainer>.captionTextHolder{
    position: absolute;
    bottom: 0;
    z-index: 1;
    color: white;
    font-family: sans-serif;
    font-size: 20px;
    text-align: center;
    width: 100%;
    background: #000047;
    height: 50px;
    line-height: 50px;
    overflow: hidden;
}
.galleryContainer .slideShowContainer>.captionTextHolder>.captionText{
    margin: 0;
}

.galleryContainer #dotsContainer{
    width: 100%;
    height: 10%;
    text-align: center;
    padding-top: 20px;
    box-sizing: border-box;
}
.galleryContainer #dotsContainer .dots{
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-left: 5px;
    background-color: #bbb;
    cursor: pointer;
    transition:background-color 1s;
}
.galleryContainer #dotsContainer .dots:first-child{
    margin-left: 0;
}
.galleryContainer #dotsContainer .dots:hover,.galleryContainer #dotsContainer .dots.active{
    background-color: #717171;
}




.galleryContainer .moveLeftCurrentSlide{
    animation-name: moveLeftCurrent;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-fill-mode:forwards;

}
.galleryContainer .moveLeftNextSlide{
    animation-name: moveLeftNext;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-fill-mode:forwards;
}
@keyframes moveLeftCurrent {
    from {margin-left: 0;opacity: 1;}
    to {margin-left: -100%;opacity: 1;}
}
@keyframes moveLeftNext {
    from {margin-left: 100%;opacity: 1;}
    to {margin-left: 0%;opacity: 1;}
}


.galleryContainer .moveRightCurrentSlide{
    animation-name: moveRightCurrent;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-fill-mode:forwards;
}
.galleryContainer .moveRightPrevSlide{
    animation-name: moveRightPrev;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-fill-mode:forwards;
}
@keyframes moveRightCurrent {
    from {margin-left: 0;opacity: 1;}
    to {margin-left: 100%;opacity: 1;}
}
@keyframes moveRightPrev {
    from {margin-left: -100%;opacity: 1;}
    to {margin-left: 0%;opacity: 1;}
}
.slideTextFromBottom {
    animation-name: slideTextFromBottom;
    animation-duration: 0.7s;
    animation-timing-function: ease-out;
}
@keyframes slideTextFromBottom {
    from {opacity: 0;margin-top: 100px}
    to {opacity: 1;margin-top: 0px;}
}
.slideTextFromTop {
    animation-name: slideTextFromTop;
    animation-duration: 1s;
    animation-timing-function: ease-out;
}
@keyframes slideTextFromTop {
    from {opacity: 0;margin-top: -100px}
    to {opacity: 1;margin-top: 0px;}
}
@media (max-width: 768px) {
	.galleryContainer{ display:  none;}
}

/*#mikkel forside slut */
/*#endregion */